body {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    background-color: #045762;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1rem;
}

hr {
    border: 0;
    height: 2px;
    margin: 0 0 50px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.iconSize {
    width: 30px;
    margin-left: 10px;
}

/* Navigation Bar */

body.offcanvas-active{
	overflow:hidden;
}

.offcanvas-header{ display:none; }

.screen-overlay {
  width:0%;
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
   }
.screen-overlay.show {
    transition:opacity .5s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}
	
@media all and (max-width:992px) { 
	
	.offcanvas-header{ display:block; }

	.mobile-offcanvas{
		visibility: hidden;
		transform:translateX(-100%);
	    border-radius:0; 
		display:block;
	    position: fixed;
	    top: 0; left:0;
	    height: 100%;
	    z-index: 1200;
	    width:80%;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
	}

	.mobile-offcanvas.show{
		visibility: visible;
    	transform: translateX(0);
	}
}
/* Content */

div h2, h4 {
    text-align: center;
}
.navbar a {
    color: #f3f2da;
}

.header .container {
    padding-top: 100px;
}

.content .container {
    padding: 50px 0px;
    text-align: left;
    
}

.jumbotron {
    background-color: #f3f2da;
}

div {
    padding: 10px;
/*     border: dotted black 1px;
 */}

/* Bottom Container */
.bottom-container {
    text-align: center;
}

.bottom-container a {
    padding: 0 5rem;
}

.bottom-container p {
    margin-top: 5rem;
    font-family: 'Ubuntu';
}